#root {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.container {
  margin: auto;
}

.currentlyPlayingWrapper {
  flex: 1;
  min-height: 0;
}

.channelSelector {
  display: flex;
  gap: 1em;
}
