.timeline {
  height: 100vh;
}

.eventContainer {
  height: 28%;
  display: flex;
}

.currentlyHappening {
  height: 44%;
}

.eventInnerContainer {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 2em;

  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 2em;
}

.currentlyPlaying h1 {
  font-size: 6em;
  line-height: 1.1;
  margin: 0;
}

.currentlyPlaying h2 {
  font-size: 2em;
}

.easterEgg {
  position: absolute;
  left:0;
  bottom:0;

  color: orange;

}