.trackContainer {
  height: 28%;
  display: flex;
}

.currentlyPlaying {
  height: 44%;
}

.trackInnerContainer {
  display: flex;

  padding: 2em;

  justify-content: flex-start;
  align-items: flex-start;

  gap: 2em;
}

img {
  max-width: 50%;
  max-height: 50%;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 1em;
}

.currentlyPlaying h1 {
  font-size: 3em;
  line-height: 1.1;
  margin: 0;
}
