.trackContainer {
    display: flex;
    flex-direction: column;
    height: 100%;

    align-items: center;

    text-align: center;

    padding-top: 1rem;

    img {
        max-width: 50%;
        max-height: 50%;
        margin-bottom: 4rem;
    }

    h1 {
        font-size: 7em;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    h2 {
        font-size: 3em;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
